/*==================================
              GENERAL CSS
  ================================== */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');


/*==================================
                 SECTION 1
  ================================== */

body {
  padding-bottom: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.first-page {
  background-color: rgba(10, 38, 64, 1);
  height: 615px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 60px 0 100px;
  font-family: "Open sans";
}

header .logo {
  display: flex;
  width: 162px;
  height: 41px;
  margin-right: 8px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

header nav li {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 40px;
}

header .button-log-in {
  padding-inline: 40px;
  padding-block: 8px;
  border-radius: 24px;
  border: 2px solid white;
  background-color: white;
  color: rgba(10, 38, 64, 1);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: 0.15s ease;
}

header .button-log-in:hover {
  background-color: rgb(10, 38, 64);
  color: white;
}

.hero-section {
  display: flex;
  color: white;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.about {
  margin-top: 57.5px;
  margin-bottom: 12px;
  font-family: "Open sans";
  font-weight: 400;
  font-size: 20px;
}

.title {
  font-family: "Manrope";
  width: 842px;
  height: 168px;
  font-weight: 400;
  font-size: 64px;
  line-height: 84px;
  text-align: center;
  vertical-align: middle;
}

.title p,
.subtitle p {
  margin: 0;
}

.subtitle {
  width: 745px;
  height: 64px;
  font-family: "Open sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin-top: 17.5px;
}

/*==================================
                 SECTION 2
  ================================== */

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: -95px;
}

.image-container div {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

/*==================================
          SECTION 2 OF 2
  ================================== */

.story-container {
  display: flex;
  justify-self: center;
  flex-direction: column;
  font-family: "Open sans";
  margin: 120px 0 96px 0;
}

.story-container * {
  margin: 0;
}

.story-container h2 {
  color: rgba(119, 119, 119, 1);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 12px;
  text-align: start;
}

.story-container h1 {
  font-family: "Manrope";
  color: black;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  width: 842px;
  margin-bottom: 30px;
}

.story-container p {
  color: rgba(119, 119, 119, 1);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  width: 790px;
}

/*==================================
                SECTION 3
  ================================== */

.numbers-section {
  text-align: center;
  background-color: rgba(10, 38, 64, 1);
  color: white;
  margin: 0 auto;
  padding: 96px 0 84px 0;
}

.section-title {
  font-size: 20px;
  font-family: "Open sans";
  margin-bottom: 12px;

}

.section-heading {
  font-size: 48px;
  font-weight: 500;
  font-family: "Manrope";
  margin: 0;
  justify-self: center;
  width: 842px;
  height: 144px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 141.5px;
}

.stat h3 {
  font-size: 96px;
  font-weight: 400;
  font-family: "Manrope";
  color: rgba(79, 233, 164, 1);
  margin-top: 84px;
  margin-bottom: 32px;
}

.stat p {
  text-align: left;
  margin: 0;
  font-size: 24px;
  font-family: "Open sans";
  color: rgba(241, 241, 241, 1);
}

/*==================================
                SECTION 4
  ================================== */

.team-member-container {
  display: flex;
  justify-self: center;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  margin: 96px 0 52px 0;
}

.team-member-heading {
  align-self: center;
}

.team-member-container * {
  margin: 0;
}

.team-member-container h2 {
  color: rgb(119, 119, 119);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 12px;
}

.team-member-container h1 {
  color: black;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 22.5px;
}

.team-member-container p {
  color: rgb(119, 119, 119);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  width: 790px;
  margin-bottom: 52px;
}

.team-members {
  display: flex;
  gap: 51px;
}

.team-member-info h3 {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 12px;
}

.team-member-info div {
  color: rgba(119, 119, 119, 1);
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

/*==================================
                SECTION 5
  ================================== */

.value-container {
  background-color: rgba(10, 38, 64, 1);
}

.hero-title {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 800px;
  margin: 0;
  color: white;
}

.values {
  margin-top: 122.5px;
  margin-bottom: 12px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.hero-title span {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}

.paragraph {
  margin-top: 20px;
  margin-bottom: 72px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.info-card-container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 72px;
  padding-bottom: 120px;
}

.info-card {
  color: white;
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0;
}

.info-card h2 {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
  margin: 0;
}

.info-card p {
  margin-top: 16px;
  width: 602px;
  height: 71px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

/*=================================
                SECTION 6
  ==================================*/

.enterprise-container {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  position: relative;
  background-color: rgb(10, 38, 64);
  border-radius: 12px;
  margin-top: 124px;
  width: 1200px;
  height: 350px;
  overflow: hidden;
  z-index: 1;
}

.gray-circle {
  position: absolute;
  width: 1293px;
  height: 1293px;
  top: -1054px;
  left: 466px;
  background-color: rgba(28, 61, 91, 1);
  border-radius: 50%;
  z-index: -1;
}

.enterprise-content {
  color: white;
  width: 716px;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

.email {
  display: flex;
  align-items: center;
  font-family: Arial;
  gap: 10px;
  margin-top: 48px;
  margin-bottom: 72px;
}

.email input {
  width: 340px;
  height: 50px;
  margin-left: 60px;
  border-radius: 240px;
  border: none;
}

.email input::placeholder {
  color: black;
  font-family: "Open sans";
  padding-left: 32px;
  font-size: 20px;
  font-weight: 400;
}

.email button {
  background-color: rgba(101, 228, 163, 1);
  font-family: "Open sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  border-radius: 56px;
  margin-left: 24px;
  color: black;
  border: none;
  padding: 10px 50px;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: flex-start;
  padding: 150px 179px 134px 0;
  background-color: white;
  font-family: Arial;
}

.footer-left {
  max-width: 250px;
  margin: 0 auto;
}

.logo {
  width: 156px;
  height: 41px;
  margin-bottom: 15px;
}

.description {
  color: rgba(119, 119, 119, 1);
  width: 300px;
  height: 84px;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-top: 40px;
}

.copyright {
  color: rgba(119, 119, 119, 1);
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-top: 64px;
  font-size: 12px;
}

.footer-links {
  display: flex;
  gap: 96px;
  margin-left: 350px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.column h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.column a {
  text-decoration: none;
  color: rgba(119, 119, 119, 1);
  font-size: 14px;
  margin-bottom: 8px;
}

.column a:hover {
  color: rgb(0, 123, 255);
}

.hiring {
  width: 72px;
  height: 30px;
  padding: 7px 14px;
  margin-left: 1px;
  border-radius: 120px;
  background-color: rgba(101, 228, 163, 1);
  color: black;
  font-size: 12px;
  margin-left: 5px;
}