/*==================================
              GENERAL CSS
  ================================== */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');


/*==================================
                 PAGE 1
  ================================== */

body {
  padding-bottom: 500px;
  margin: 0;
  overflow-x: hidden;
}

.first-page {
  background-color: rgba(10, 38, 64, 1);
  height: 615px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 60px 0 100px;
  font-family: "Open sans";
}

header .logo {
  display: flex;
  width: 162px;
  height: 41px;
  margin-right: 8px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

header nav li {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 40px;
}

header .button-log-in {
  padding-inline: 40px;
  padding-block: 8px;
  border-radius: 24px;
  border: 2px solid white;
  background-color: white;
  color: rgba(10, 38, 64, 1);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: 0.15s ease;
}

header .button-log-in:hover {
  background-color: rgb(10, 38, 64);
  color: white;
}

.hero-section {
  display: flex;
  color: white;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.about {
  margin-top: 57.5px;
  margin-bottom: 12px;
  font-family: "Open sans";
  font-weight: 400;
  font-size: 20px;
}

.title {
  font-family: "Manrope";
  width: 842px;
  height: 168px;
  font-weight: 400;
  font-size: 64px;
  line-height: 84px;
  text-align: center;
  vertical-align: middle;
}

.title p,
.subtitle p {
  margin: 0;
}

.subtitle {
  width: 745px;
  height: 64px;
  font-family: "Open sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin-top: 17.5px;
}

/*==================================
                 PAGE 2
  ================================== */

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: -95px;
}

.image-container div {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

/*==================================
          PAGE 2 OF SECTION 2
  ================================== */

.story-container {
  display: flex;
  justify-self: center;
  flex-direction: column;
  font-family: "Open sans";
  margin: 120px 0 96px 0;
}

.story-container * {
  margin: 0;
}

.story-container h2 {
  color: rgba(119, 119, 119, 1);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 12px;
  text-align: start;
}

.story-container h1 {
  font-family: "Manrope";
  color: black;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  width: 842px;
  margin-bottom: 30px;
}

.story-container p {
  color: rgba(119, 119, 119, 1);
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  width: 790px;
}

/*==================================
                PAGE 3
  ================================== */

.numbers-section {
  text-align: center;
  background-color: rgba(10, 38, 64, 1);
  color: white;
  margin: 0 auto;
  padding: 96px 0 84px 0;
}

.section-title {
  font-size: 20px;
  font-family: "Open sans";
  margin-bottom: 12px;
  
}

.section-heading {
  font-size: 48px;
  font-weight: 500;
  font-family: "Manrope";
  margin: 0;
  justify-self: center;
  width: 842px;
  height: 144px;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 141.5px;
}

.stat h3 {
  font-size: 96px;
  font-weight: 400;
  font-family: "Manrope";
  color: rgba(79, 233, 164, 1);
  margin-top: 84px;
  margin-bottom: 32px;
}

.stat p {
  text-align: left;
  margin: 0;
  font-size: 24px;
  font-family: "Open sans";
  color: rgba(241, 241, 241, 1);
}