/* ==================================
                GENERAL CSS
   ================================== */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');


/* ==================================
                   PAGE 1
      ================================== */

body {
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 60px 0 100px;
  font-family: "Open sans";
}

header .logo {
  display: flex;
  width: 162px;
  height: 41px;
  margin-right: 8px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

header nav li {
  cursor: pointer;
  text-decoration: none;
  color: rgb(10, 38, 64);
  font-weight: bold;
  margin-right: 40px;
}

header .button-log-in {
  padding-inline: 40px;
  padding-block: 8px;
  border-radius: 24px;
  border: 2px solid rgb(10, 38, 64);
  color: rgb(10, 38, 64);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: 0.15s ease;
}

header .button-log-in:hover {
  background-color: rgb(10, 38, 64);
  color: white;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 76px;
}

.blog {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.para p {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 64px;
  line-height: 84px;
  margin-top: 12px;
  margin-bottom: 67.5px;
}