/* ==================================
                GENERAL CSS
   ================================== */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');


/* ==================================
                   PAGE 1
   =================================== */

body {
  margin: 0;
  padding-bottom: 1000px;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 60px 0 100px;
  font-family: "Open sans";
}

header .logo {
  display: flex;
  width: 162px;
  height: 41px;
  margin-right: 8px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

header nav li {
  cursor: pointer;
  text-decoration: none;
  color: rgb(10, 38, 64);
  font-weight: bold;
  margin-right: 40px;
}

header .button-log-in {
  padding-inline: 40px;
  padding-block: 8px;
  border-radius: 24px;
  border: 2px solid rgb(10, 38, 64);
  color: rgb(10, 38, 64);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: 0.15s ease;
}

header .button-log-in:hover {
  background-color: rgb(10, 38, 64);
  color: white;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 76px;
}

.blog {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.para p {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 64px;
  line-height: 84px;
  margin-top: 12px;
  margin-bottom: 67.5px;
}

section {
  display: flex;
  margin: 0;
}

.about-container {
  align-self: center;
}

section p {
  margin: 0;
}

.first-image {
  margin-inline: 100px;
}

hr {
  width: 89%;
  border: 1px rgb(10, 38, 64) solid;
  margin-top: 72px;
  margin-bottom: 84px;
}



.date span {
  font-family: "Open Sans";
  color: rgb(10, 38, 64);
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}

.date p {
  color: rgba(119, 119, 119, 1);
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
  
.title p {
  margin-top: 12px;
  margin-bottom: 20px;
  font-family: "Manrope";
  width: 543px;
  height: 145px;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

hr {
  width: 89%;
  border: 1px rgb(10, 38, 64) solid;
  margin-top: 72px;
  margin-bottom: 84px;
}

/* ==================================
                  PAGE 2
   =================================== */
   
.headline {
  font-family: "Manrope";
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  margin-left: 202px;
}

.latest-news-container, 
.latest-news-container2 {
  display: flex;
  gap: 50px;
  width: 998px;
  height: 424px;
  margin-left: 201px;
}

.latest-news-container2 {
  margin-top: 100px;
  margin-bottom: 96px;
}

.profile-info {
  font-family: "Open Sans";
}

.card {
  width: 300px;
  height: 424px;
}

.latest-news-date {
  color: rgba(119, 119, 119, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.latest-news-date span {
  padding-right: 12px;
  color: rgba(10, 38, 64, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}

.subtitle {
  width: 300px;
  height: 99px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;    
}

.latest-news-profile {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.latest-news-profile p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-load-more {
  padding-inline: 58px;
  padding-block: 13px;
  border-radius: 56px;
  border: 2px solid rgb(10, 38, 64);
  background-color: white;
  color: rgb(10, 38, 64);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: 0.15s ease;
}

.button-load-more:hover {
  background-color: rgb(10, 38, 64);
  color: white;
  font-weight: bold;
}

/* ==================================
                  PAGE 3
   =================================== */

.enterprise-container {
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  position: relative;
  background-color: rgb(10, 38, 64);
  border-radius: 12px;
  margin-top: 124px;
  width: 1200px;
  height: 350px;
  overflow: hidden;
  z-index: 1;
}

.gray-circle {
  position: absolute;
  width: 1293px;
  height: 1293px;
  top: -1054px;
  left: 466px;
  background-color: rgba(28, 61, 91, 1);
  border-radius: 50%;
  z-index: -1;
}

.enterprise-content {
  color: white;
  width: 716px;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

.email {
  display: flex;
  align-items: center;
  font-family: Arial;
  gap: 10px;
  margin-top: 48px;
  margin-bottom: 72px;
}

.email input {
  width: 340px;
  height: 50px;
  margin-left: 60px;
  border-radius: 240px;
  border: none;
}

.email input::placeholder {
  color: black;
  font-family: "Open sans";
  padding-left: 32px;
  font-size: 20px;
  font-weight: 400;
}

.email button {
  background-color: rgba(101, 228, 163, 1);
  font-family: "Open sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  border-radius: 56px;
  margin-left: 24px;
  color: black;
  border: none;
  padding: 10px 50px;
  cursor: pointer;
}

.footer {
  display: flex;
  align-items: flex-start;
  padding: 150px 179px 134px 0;
  background-color: white;
  font-family: Arial;
}

.footer-left {
  max-width: 250px;
  margin: 0 auto;
}

.logo {
  width: 156px;
  height: 41px;
  margin-bottom: 15px;
}

.description {
  color: rgba(119, 119, 119, 1);
  width: 300px;
  height: 84px;
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-top: 40px;
}

.copyright {
  color: rgba(119, 119, 119, 1);
  font-family: "Open sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-top: 64px;
  font-size: 12px;
}

.footer-links {
  display: flex;
  gap: 96px;
  margin-left: 350px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.column h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.column a {
  text-decoration: none;
  color: rgba(119, 119, 119, 1);
  font-size: 14px;
  margin-bottom: 8px;
}

.column a:hover {
  color: rgb(0, 123, 255);
}

.hiring {
  width: 72px;
  height: 30px;
  padding: 7px 14px;
  margin-left: 1px;
  border-radius: 120px;
  background-color: rgba(101, 228, 163, 1);
  color: black;
  font-size: 12px;
  margin-left: 5px;
}